*{
    background-color: #1f2937;
}
.container{
   margin-left: 10%;
   margin-right: 10%;
}
.header {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.header .header-logo {
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}
.header .links {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-weight: 300;
}
.header .links .header-link {
    font-size: 18px;
}
.subtitle{
    margin-top: 80px;
    background-color: #1f2937;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}
.subtitle-and-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.subtitle .main-text{
    font-size: 48px;
}
.subtitle .subtitle-text{
    font-size: 20px;
}
.image-placeholder{
    flex: 1;
}
.signup {
    background-color: #3882f6;
    width: 100px;
    text-align: center;
}